/* Базові налаштування */
body {
    font-family: 'Arial', sans-serif;
    background:url("https://i.pinimg.com/1200x/9d/71/d6/9d71d68d66bce9df578f56a97d3fdd43.jpg");
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-screen{
    
}
.hide{
    display:none;
}

.show{
    display: block;
}


h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    margin: 50px auto;
}

button {
display: block;
    margin: 20px auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    text-align: center;
}
h2 {
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    width: fit-content;
    margin: 30px auto;
}

span {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
}
#result-text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 8px 14px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: fit-content;
    margin: 10px auto;
}
